/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  background-color:transparent;
  font-family:'Avenir','Helvetica';
}
body {
  color: #2b2a2a;
}
body::after {
  content: "";
  background-repeat: repeat;
  background: url('./laffairz-food.png');
  background-size: 300px;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
h1 {
  font-size: 30px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
.red {
  color: #d83a16;
}
.grey {
  color: #b1b1b1;
}

table{width:100%}
td{padding:10px 0px}
tr:nth-child(even){background-color:#e5e5e5;}

.page-content {
  display: flex;
  flex-direction: row-reverse;
}

button {
  cursor: pointer;
  border-width: 0px;
  background-color: #fff;
  border-radius: 5px;
}
button:hover {
  background-color: #bbb;
  border-radius: 5px;
  border-style: inset;
  border-width: 0px;
  padding: 2px 6px 3px;
}

@media only screen and (max-width: 650px), only screen and (max-device-width: 650px)  {
  .page-content {
    flex-direction: column;
  }
  .recipe-index, .recipe-show, .shopping-list {
    width: 100%;
    padding: 0;
  }
  .shopping-list {
    margin-bottom: 20px;
  }

  /* increase sizes of everything to make it more zoomed-in */
  html {
    font-size: 40px;
  }
  h1 {
    font-size: 80px;
  }
  .shopping-list, .shopping-list .list-header, .recipe-list-item header, .recipe-show header a {
    font-size: 72px;
  }
  .right-half {
    font-size: 60px;
  }
  button {
    font-size: 40px;
  }
  .recipe-index .search, .shopping-list input, .recipe-show input {
    font-size: 48px;
  }

}
