/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{background-color:white;font-family:'Helvetica'}
h1,a{color:black}
table{width:100%}
td{padding:10px 0px}
tr:nth-child(even){background-color:#e5e5e5;}

.page-content {
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 650px) {
  .page-content {
    flex-direction: column;
    .recipe-index, .recipe-show, .shopping-list {
      width: 100%;
    }
  }
}