// Place all the styles related to the ShoppingLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shopping-list {
  width: 40%;
  background-color: #fdd;
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0 20px;
  .list-header {
    cursor: pointer;
    font-weight: 700;
    border-bottom: 2px solid black;
    padding: 10px 0;
  }
  .list-header:hover {
    background-color: #ddd;
  }
}

.shopping-list-list {
  color: #ff6666;
  border-bottom: 1px solid black;
  cursor: pointer;
  padding: 10px 0;
}
.shopping-list-list:hover {
  background-color: #ddd;
  color: #c00;
}