// Place all the styles related to the ShoppingListItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shopping-list-item {
  color: #ff6666;
  border-bottom: 1px solid black;
  cursor: pointer;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.shopping-list-item:hover {
  background-color: #ddd;
  color: #c00;
}

.greyed-out {
  color: #aaa;
  text-decoration: line-through;
  font-style: italic;
}
