// Place all the styles related to the ShoppingLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shopping-list {
  width: 40%;
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0 20px;
  font-size: 22px;
  .list-header {
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    padding: 10px 0;
  }
  .list-header:hover {
  }
}

.shopping-list-list {
  cursor: pointer;
  padding: 10px 0;    
  display: flex;
  justify-content: space-between;
}
.shopping-list-list:hover {
  text-decoration: underline;
}