// Place all the styles related to the ShoppingLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shopping-list {
  width: 40%;
  background-color: #fdd;
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0 20px;
}
